<div class="container-fluid w-100 mt-2 mb-5">
    <div class="row p-3 d-flex justify-content-center">
        <div class="col-sm-12 w-100 d-flex justify-content-center">
            <h1 class="fonte-letras text-body"> Sejam Bem Vindos ao meu Blog</h1>
        </div>

        <div class="col-sm-8 fonte-letras w-100 mt-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod facere excepturi at quaerat quae reprehenderit voluptas recusandae corrupti ipsam sequi, maiores quasi maxime perspiciatis, quis magnam, eveniet ullam ut vero.</p>
        </div>

        <div class="col-sm-8 fonte-letras w-100">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod facere excepturi at quaerat quae reprehenderit voluptas recusandae corrupti ipsam sequi, maiores quasi maxime perspiciatis, quis magnam, eveniet ullam ut vero.</p>
        </div>

        <div class="col-sm-8 fonte-letras w-100">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod facere excepturi at quaerat quae reprehenderit voluptas recusandae corrupti ipsam sequi, maiores quasi maxime perspiciatis, quis magnam, eveniet ullam ut vero.</p>
        </div>

    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-primary font-italic text-uppercase" routerLink='/feed'>
            Ver o Feed
        </button>
    </div>
</div>