<div class="w-100 h-100 bg-perso">
        <div class="row p-5 w-100">
            <div class="col-md-12 d-flex justify-content-center w-100">
    
                <h1 class="text-uppercase font-italic "> Cadastro </h1>
    
            </div>

            <div class="col-md-12 d-flex justify-content-center w-100">
                <div class="form-group w-50 ">
                    <label for="exampleInputEmail1" class="fonte-letras">Nome</label>
                    <input type="text" class="form-control" placeholder="Digite o Nome" id="nome" [(ngModel)] ='user.nome'>
                  </div>
            </div>


            <div class="col-md-12 d-flex justify-content-center w-100">

                
        <div class="form-group w-50 ">
          <label for="exampleInputEmail1" class="fonte-letras">Email</label>
          <input type="email" class="form-control" placeholder="Digite o Email" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)] ='user.usuario'>
          <small id="emailHelp" class="form-text text-dark ">Nós nunca enviaremos seu email para ninguem.</small>
        </div>
    </div>
    <div class="col-md-12 d-flex justify-content-center w-100">
        <div class="form-group w-25">
          <label for="exampleInputPassword1" class="fonte-letras">Senha</label>
          <input type="password" class="form-control" placeholder="Digite a Senha" id="exampleInputPassword1" (input)='conferirSenha($event)' value='{{senha}}'>
        </div>

        <div class="form-group w-25">
            <label for="exampleInputPassword1" class="fonte-letras">Confirmação de Senha</label>
            <input type="password" class="form-control" placeholder="Digite a Confirmação" id="exampleInputPassword1" [(ngModel)] ='user.senha'>
          </div>

    </div>
    <div class="col-md-12 d-flex justify-content-center w-100">
        
        <button type="submit" class="btn btn-outline-dark w-25 text-uppercase font-italic" (click)='cadastrar()'>Cadastrar</button>
    </div>
    </div>
    </div>